.DS_Store
.idea/
!.idea/runConfigurations/
.cache
.mypy_cache/
__pycache__
.pytest_cache
*.pyc
database/db.sqlite3
database/db.test.sqlite3
database/db.test.sqlite3-journal
pep/tests/testout/
media/
portaladmin/tests/testout/
pvzdweb/database_is_initialized
work/
