cffi
coreapi
coreapi-cli
Cython
django
djangorestframework
#django-admin-menu>=1.1
#django-bootstrap4
django-admin-relation-links
django-identity-external
django-ldapdb
enforce
gunicorn
json2html
lxml
Markdown
pyOpenSSL
requests
pyjnius
pytest
pytest-cov
pytest-django
#psycopg2
psycopg2-binary
# requests 2.21.0 requires urllib3<1.25:
urllib3<1.25
