cffi
coreapi
coreapi-cli
Cython
django
djangorestframework
#django-admin-menu>=1.1
#django-bootstrap4
django-admin-relation-links
django-ldapdb
enforce
gunicorn
json2html
lxml
Markdown
pyOpenSSL
requests
pyjnius
pytest
pytest-cov
pytest-django
#psycopg2
psycopg2-binary
